{% extends "layout.html" %}

{% block title %}Site No Found {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block extra_nav %}
<div class="d-flex gap-3 align-items-center">
    <!-- <a href="/users/{{session['user_id']}}" class="btn">{{session['name'].title()}}</a> -->
        <div class=""><a href="/" class="btn">Home</a></div>
</div>
{% endblock%}

{% block content %}
    <div class="text-center mt-3">
        <h2>Requested Page Cannot Be Found</h2>
        <h5>The page does not exist or is under development</h5>
        <a href="/" class="btn">Back to Home</a>
    </div>
    
{% endblock %}