{% extends "layout.html" %}

{% block title %}Explore{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block extra_nav %}


<div class="d-flex gap-3 align-items-center">
    <!-- <a href="/users/{{session['user_id']}}" class="btn">{{session['name'].title()}}</a> -->
        <!-- <button onclick="getDate()">"getDate()"</button> -->
        <div class="create-event"><a href="/events/create" class="btn">+ Add Event</a></div>
        <a href="/users/dashboard" class="btn">
            <div class="d-flex justify-content-center align-items-center gap-2 bg-white p-1 rounded">
                <img src="{{url_for('static', filename='/images/bruin_logo.png')}}" width="30" height="30" class="d-inline-block" alt="logo">
                {{session['name'].title()}}
            </div>
        </a>
        <!-- Example single danger button -->
        <div class="btn-group d-flex">
                <a href="/users/dashboard" type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <!-- <div class="d-flex justify-content-center align-items-center gap-2 bg-white p-1 rounded"> -->
                        <!-- <img src="{{url_for('static', filename='/images/bruin_logo.png')}}" width="30" height="30" class="d-inline-block" alt="logo"> -->
                        {{session['name'].title()}}
                    <!-- </div> -->
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/users/dashboard/events/likes">Liked Events</a></li>
                    <li><a class="dropdown-item" href="/users/dashboard/myevents">My Events</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/users/dashboard/groups">Groups</a></li>
                    <li><a class="dropdown-item" href="/users/dashboard/friends">Friends</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/users/dashboard/account">Account</a></li>
                    <li><a class="dropdown-item" href="/users/dashboard/site-settings">Site Settings</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item"  href="/users/dashboard/support" class="btn">Contact Support</a></li>
                </ul>
        </div>
    
        <div class="logout">
            <form action="/logout" method="post">
                <input type="submit" value="Logout" class="btn btn-danger">
            </form>
        </div>
</div>

{% endblock%}

{% block content %}
        <!-- main content -->
        <div class="row w-100 mt-3">
            <!-- filter page -->
            <div class="col-3 border border-info">
                <h5 class="m-2 text-center"><strong>Filter</strong></h5>
                <form action="/events/filter" method="post">
                    <!-- <div class="form-check form-switch m-2">
                        <input class="form-check-input" type="checkbox" id="sort-by-date">
                        <label class="form-check-label" for="sort-by-date">Sort By Date</label>
                    </div>
                    <div class="form-check form-switch m-2">
                        <input class="form-check-input" type="checkbox" id="sort-by-likes">
                        <label class="form-check-label" for="sort-by-likes">Sort By Like</label>
                    </div> -->
                    <!-- {% if dayfilters %}
                        <p>{{dayfilters}}</p>
                        {% if '2' in dayfilters %}
                            <p>Selected</p>
                        {% endif %}
                    {% endif %} -->
                        
                    
                    <!-- ! Filter by day of the wek -->
                    <!-- {% if '2' in dayfilters %}
                            <p>Selected</p>
                    {% endif %}
                    {{dayfilters}} -->
                    <h7 class="m-2">By Day of the Week:</h7>
                    <div class="form-check form-switch m-2">
                        <input class="form-check-input" type="checkbox" id="monday" name="dayfilter" value="2" {% if '2' in filters %}checked{% endif %}>
                        <label class="form-check-label" for="monday">Monday</label>
                    </div>
                    <div class="form-check form-switch m-2">
                        <input class="form-check-input" type="checkbox" id="tuesday" name="dayfilter" value="3" {% if '3' in filters %}checked{% endif %}>
                        <label class="form-check-label" for="tuesday">Tuesday</label>
                    </div>
                    <div class="form-check form-switch m-2">
                        <input class="form-check-input" type="checkbox" id="wednesday" name="dayfilter" value="4" {% if '4' in filters %}checked{% endif %}>
                        <label class="form-check-label" for="wednesday">Wednesday</label>
                    </div>
                    <div class="form-check form-switch m-2">
                        <input class="form-check-input" type="checkbox" id="thursday" name="dayfilter" value="5" {% if '5' in filters %}checked{% endif %}>
                        <label class="form-check-label" for="thursday">Thursday</label>
                    </div>
                    <div class="form-check form-switch m-2">
                        <input class="form-check-input" type="checkbox" id="friday" name="dayfilter" value="6" {% if '6' in filters %}checked{% endif %}>
                        <label class="form-check-label" for="Friday">Friday</label>
                    </div>
                    <div class="form-check form-switch m-2">
                        <input class="form-check-input" type="checkbox" id="saturday" name="dayfilter" value="7" {% if '7' in filters %}checked{% endif %}>
                        <label class="form-check-label" for="saturday">Saturday</label>
                    </div>
                    <div class="form-check form-switch m-2">
                        <input class="form-check-input" type="checkbox" id="sunday" name="dayfilter" value="1" {% if '1' in filters %}checked{% endif %}>
                        <label class="form-check-label" for="sunday">Sunday</label>
                    </div>
                    <div class="d-flex justify-content-between align-items-center m-2 mt-3">
                        <a href="/events/filters/clear" class="btn btn-warning">Clear</a>
                        <input type="submit" value="Apply" class="btn btn-primary">
                    </div>
                </form>
                
            </div>
            <!-- event browpage -->
            <div class="col-9">
                <!-- top day naviation -->
                <div class="row mb-3">
                    <div class="d-flex align-items-center justify-content-around">
                        <div class="date-event"><a href="/events/dashboard">All</a></div>
                        <div class="date-event"><a href="/events/dashboard/today">Today</a></div>
                        <div class="date-event"><a href="/events/dashboard/tommorrow">Tommorrow</a></div>
                        <div class="date-event"><a href="/events/dashboard/thursdays">Thirsty Thursday</a></div>
                        <div class="date-event"><a href="/events/dashboard/fridays">Thank God It's Friday</a></div>
                        <div class="date-event"><a href="/events/dashboard/weekend">This Weekend</a></div>
                        <div class="date-event"><a href="/events/dashboard/month">This Month</a></div>
                        <!-- TODO: Select date maybe should be in the filter -->
                        <!-- <div class="date-event"><a href="/events/dashboard/">Select Date</a></div> -->
                    </div>
                </div> 
                <div class="row mb-3 w-50 m-1">
                    <form action="/events/search" method="post">
                        <div class="search">
                            <input class="search_input" type="text" name="search" placeholder="Search events...">
                            <!-- <input type href="#" class="search_icon"><i class="fa fa-search"></i></a> -->
                            <div class="search_icon">
                                <input type="image" src="{{url_for('static', filename='/images/search_icon.webp')}}" value="" class="search_img">
                            </div>
                            
                        </div>
                    </form>
                </div>
                <!-- show events -->
                {% for event in events %}
                    <div class="row event">
                        <div class="card border-warning m-2">
                            <div class="card-header">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="event-name">{{event.name}} </div>
                                    <div class="event-time">{{event.event_date}} at {{event.start_time}}</div>
                                </div>
                                <div class="d-flex align-items-center justify-content-end">
                                    <div class="event-time">{{event.place}}</div>
                                </div>
                            </div>
                            <div class="card-body d-flex justify-content-between">
                                <div class="">Description: {{event.description}}  <br></div>
                                <!-- TODO: Resize the thumbs instead of the images -->
                                <form action="/events/like" method="post">
                                    <div class="">
                                        <!-- TODO implement it in a way that hides the event id -->
                                        <!-- <a href="/events/like/{{event.id}}" onclick="toggleLike(this)" class="text-decoration-none fa fa-thumbs-o-up" style="cursor: pointer; width: 50px; height: 50px;">
                                        </a> -->
                                        <form action="/" method="post">
                                            <input type="hidden" name="event_id" value="{{event.id}}">
                                        {% if event.login_user_liked %}
                                            <input type="hidden" name="liked" value="1">
                                            <input type="image" src="{{url_for('static', filename='/images/heart.png')}}" class="btn" value="Liked" style="width:50px">
                                        {% else %}
                                            <input type="hidden" name="liked" value="0">
                                            <input type="image" src="{{url_for('static', filename='/images/empty_heart.png')}}" class="btn" value="Liked" style="width:50px">
                                        {% endif %}
                                        </form>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>

{% endblock %}


