{% extends "layout.html" %}

{% block title %}User Dashboard{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block extra_nav %}


<div class="d-flex gap-3 align-items-center">
    <!-- <a href="/users/{{session['user_id']}}" class="btn">{{session['name'].title()}}</a> -->
        <div class=""><a href="/events/dashboard" class="btn">Browse Events</a></div>
        <div class="create-event"><a href="/events/create" class="btn">+ Add Event</a></div>
        <div class="account">
            <a href="/users/dashboard" class="btn">
                <div class="d-flex justify-content-center align-items-center gap-2 bg-white p-1 rounded">
                    <img src="{{url_for('static', filename='/images/bruin_logo.png')}}" width="30" height="30" class="d-inline-block" alt="logo">
                    {{session['name'].title()}}
                </div>
            </a>
        </div>
        <div class="logout">
            <form action="/logout" method="post">
                <input type="submit" value="Logout" class="btn">
            </form>
        </div>
</div>

{% endblock%}

{% block content %}
    <div class="container">
        <!-- main content -->
        <div class="row w-100 mt-3">
            <!-- nav page -->
            <div class="col-10">
                <h2 class="p-3">Liked Events</h2>
                {% for event in user.myevents %}
                <div class="row event gx-2">
                    <div class="card m-2 shadow">
                        <div class="card-header">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="event-name">
                                    <a href="/events/show/{{event.id}}" class="text-decoration-none h5 ">{{event.name}}</a>
                                </div>
                                <div class="event-time">{{event.event_date}}</div>
                            </div>
                            <div class="d-flex align-items-center justify-content-end">
                                <div class="event-time">Starts: {{event.start_time}} Ends: {{event.end_time}}</div>
                            </div>
                            <div class="d-flex align-items-center justify-content-end">
                                <div class="event-time">{{event.place}}</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-body d-flex justify-content-between">
                                <div class=""> {{event.description}}  <br></div>
                                <form action="/events/likes/remove" method="post">
                                    <input type="hidden" name="event_id" value="{{event.id}}">
                                    <input type="submit" class="btn btn-danger" value="Remove">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
        
            </div>
            <!-- ! navigation bars ---------------------------------------------------- -->
            <div class="col-2">
                <div class="row navigation">
                    <div class="card  m-2">
                        <div class="card-header">
                            Events
                        </div>
                        <div class="card-body">
                            <a href="/users/dashboard/events/likes" class="btn">Liked Events</a> <br>
                            <a href="/users/dashboard/myevents" class="btn">My Events</a>
                        </div>
                    </div>
                </div>
                <div class="row navigation">
                    <div class="card  m-2">
                        <div class="card-header">
                            Connect
                        </div>
                        <div class="card-body">
                            <a href="/users/dashboard/groups" class="btn">Groups</a> <br>
                            <a href="/users/dashboard/friends" class="btn">Friends</a>
                        </div>
                    </div>
                </div>
                <div class="row navigation">
                    <div class="card  m-2">
                        <div class="card-header">
                            Settings
                        </div>
                        <div class="card-body">
                            <a href="/users/dashboard/account" class="btn">Account</a> <br>
                            <a href="/users/dashboard/site-settings" class="btn">Site Settings</a>
                        </div>
                    </div>
                </div>
                <div class="row navigation">
                    <div class="card  m-2">
                        <div class="card-header">
                            Help Center
                        </div>
                        <div class="card-body">
                            <a href="/users/dashboard/support" class="btn">Contact Support
                        </div>
                    </div>
                </div>
            </div>
            <!-- ! navgation bar ends ---------------------------------------------------------------- -->
        </div>
    </div>

{% endblock %}